<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method='post'>
        userid<input type="text" name='userid'><br>
        name <input type="text" name='name'><br>
        email <input type="email" name='email'><br>
        mobile <input type="text" name='mobile'><br>
        deptid <input type="text" name='deptid'><br>
        secretkey <input type="text" name='secretkey'><br>
        isactive <input type="text" name='isactive'><br>
        lastloggedin <input type="datetime" name='lastloggedin'><br>
        createddate <input type="datetime" name='createddate'><br>
        createdby <input type="text" name='createdby'><br>
        modifieddate <input type="datetime" name='modifieddate'><br>
        modifiedby <input type="text" name='modifiedby'><br>
        <input type="submit" value='login'>
    </form>
</body>
</html>